# Copyright (c) 2025 CannonKeys LLC
# SPDX-License-Identifier: MIT

if BOARD_BULLET_TRAIN

config ZMK_KEYBOARD_NAME
    default "Bullet_Train"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

config ZMK_BLE
    default y

config ZMK_USB
    default y

endif # BOARD_BULLET_TRAIN
